<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<div class="navbar is-danger">
    <div class="container">
        <div class="navbar-brand">
            <a href="#">
                <img id="python-logo" height="50" width="50"
                    src="http://icons.iconarchive.com/icons/papirus-team/papirus-apps/128/python-icon.png" alt="">
            </a>
            <a href="#" class="navbar-item">Home</a>
            <a href="#" class="navbar-item">About</a>
        </div>
    </div>
</div>
<section id="main-section" class="hero is-medium is-bold is-warning">
    <div class="hero-body  has-text-centered">
        <h1 class='title'>Soup Online</h1>
        <h1 class="subtitle">Enter a URL, and check off which items you'd like to retrieve. </h1>

        <div class="columns has-text-centered">
            <div class="column is-4 is-offset-4">
                <form id="main_form" action="{{ url_for('soup_it') }}" method="post">

                    <div class="field">
                        <div class="control">
                            <input name="url" class="input" type="text" placeholder="Enter URL">
                        </div>
                    </div>


                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                                <label  class="checkbox"><input id="links" name="links" type="checkbox" value="y">Links</label>
    
                                <label class="checkbox"><input id="images" name="images" type="checkbox" value="y">Images</label> 
    
                                <label class="checkbox"><input id="text" name="text" type="checkbox" value="y">Text</label>
                        </div>
                    </div>
                    <div class="field ">
                        <div class="control has-text-centered">
                            <button id="submit_button" class="button is-primary">Submit</button>
                        </div>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Developed by </strong> by <a target="_blank" href="https://twitter.com/1000daysofcode">Christopher Sparks</a>.
        </p>
    </div>
</footer>

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script>
document.getElementById("submit_button").addEventListener("click", function(e){
    try{
        destroyElem("main-tile");
    }catch(err){
        console.log("fresh start")
    }
    e.preventDefault()
    let data = serializeMainForm(document.forms.main_form)
    postMainForm(data)
})
</script>